:root {
    --main-color: #6278B4;
    --main-color-second: #3A2E2E;
    --background-color: #DDF9FF;
    --background-color-second: #535353;
    --white: #fff;
}

.wrap {
    max-width: 1120px;
    margin: 0 auto;
}

/* nav */

header {
    background-color: var(--background-color);
}
.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
}
.logo {
    color: var(--main-color);
    font-family: Jost;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 3px;
}
.nav {
    display: flex;
    gap: 64px;
}
.nav-link {
    color: var(--main-color-second);
    font-family: Jost;
    font-size: 24px;
    font-weight: 700;
}

/* hero */

.hero {
    background-color: var(--background-color);
    padding-top: 90px;
    padding-bottom: 110px;
}
.image-hero {
    max-width: 600px;
}
.wrap-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-desc-first {
    color: var(--main-color);
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
}
.hero-title {
    color: var(--main-color-second);
    font-family: Jost;
    font-size: 48px;
    font-weight: 700;
    line-height: 103.5%; /* 49.68px */
    max-width: 562px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.hero-desc-second {
    color: var(--main-color-second);
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 153%; /* 30.6px */
    max-width: 214px;
    margin-bottom: 32px;
}

.hero-btn {
    padding: 16px 21px 16px 21px;
    border-radius: 30px;
    background-color: var(--main-color);

    color: var(--white);
    font-family: Jost;
    font-size: 20px;
    font-weight: 900;
    line-height: 153%; /* 30.6px */
    transition: all 1s;
}
.hero-btn:hover {
    background-color: var(--background-color);
    outline: 5px solid var(--main-color);
    color: var(--main-color-second);
}